<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include ('partials/navigation') %>
    
 <main>
   
 <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card grid text-center mx-4" style="width: 20rem; height: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Vision</h5>
          
          <p class="card-text"> Ser reconocidos como líderes en el sector tecnológico, destacando por nuestra 
            excelencia en la entrega de soluciones personalizadas y nuestra capacidad para 
            adaptarnos y abrazar las últimas tendencias tecnológicas. Aspiramos a establecer 
            relaciones duraderas con nuestros clientes, basadas en la confianza y el éxito mutuo.
            </p>
        </div>
      </div>
      <div class="card grid text-center mx-4" style="width: 20rem; height: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Mision</h5>
          <p class="card-text"> Nuestra misión es ofrecer soluciones tecnológicas innovadoras que impulsen el 
            crecimiento y la transformación digital de nuestros clientes. Nos comprometemos a 
            brindar productos y servicios de calidad que satisfagan las necesidades de manera 
            efectiva y eficiente</p>
        </div>
      </div>
 </div>


 

      
 
</main>
 
    
    
</body>
</html>