<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head') %>
    <title>Document</title>
</head>
<body class="bg-dark ">
    <%- include ('partials/navigation') %>

    <section class="bg-dark text-light p-5 text-center text-sm-start" >
      <div class="container">
        <div class="d-sm-flex align-items-center jutify-content-between py-8 hola">
          <div>
            <h1> Welcome InnovateTech Solutions</h1>
            <p class="lead my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quam neque nostrum maiores libero eos</p>
          
            <a href="/whoweare" class="btn btn-primary btn-lg">¿Quienes somos?</a>
          </div>
          <div>
            <a href="/">
              <img src="/img/tec.png" class="img-fluid" width="1000">
            </a>
          </div>
          
        </div>
        
    
      </div>
    </section>
    
 
 

      
 
</main>
 
    
    
</body>
</html>