<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <div class="container mt-5 m2">
      <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
              <h1 class="mb-4">Portafolio</h1>
              <p class="lead"> Nuestro portafolio de proyectos muestra nuestra experiencia y 
                el impacto que hemos tenido en diversas industrias. Hemos trabajado con empresas de 
                diferentes tamaños y sectores, brindándoles soluciones tecnológicas a medida que han 
                mejorado su eficiencia operativa y su presencia en línea. Estos son algunos de nuestros 
                proyectos destacados</p>
          </div>
      </div>
  </div>

  <div class="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div class="col">
              <div class="portfolio-item card hola">
                  <img src="https://i.pinimg.com/564x/93/20/8d/93208d639fda58dcac6569096b11bbcd.jpg" class="card-img-top img-m " alt="Proyecto 1">
                  <div class="card-body">
                      <h5 class="card-title">Proyecto A</h5>
                      <p class="card-text"> Desarrollo de una plataforma de comercio electrónico escalable para una 
                        empresa minorista líder.</p>
                      <a href="#" class="btn btn-primary">Ver más</a>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="portfolio-item card hola">
                  <img src="https://i.pinimg.com/564x/21/07/c9/2107c9ee4a6cef98b6bd28c89b3a387f.jpg"  class="card-img-top img-m " alt="Proyecto 1">
                  <div class="card-body">
                      <h5 class="card-title">Proyecto B</h5>
                      <p class="card-text">Diseño y desarrollo de una aplicación móvil de reserva de citas e examenes para una 
                        clínica médica .</p>
                      <a href="#" class="btn btn-primary">Ver más</a>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="portfolio-item card hola">
                  <img src="https://i.pinimg.com/564x/54/93/1a/54931ae881b70396ef4ccb3340a9ecf1.jpg" class="card-img-top img-m " alt="Proyecto 1">
                  <div class="card-body">
                      <h5 class="card-title">Proyecto C</h5>
                      <p class="card-text">Implementación de un sistema de gestión de inventario personalizado para 
                        una cadena de distribución.</p>
                      <a href="#" class="btn btn-primary">Ver más</a>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="portfolio-item card hola">
                  <img src="https://i.pinimg.com/736x/dd/eb/9c/ddeb9cb4fbef56ed635d505eece1313a.jpg" class="card-img-top img-m " alt="Proyecto 1">
                  <div class="card-body">
                      <h5 class="card-title">Proyecto D</h5>
                      <p class="card-text">Diseño y desarrollo de un sitio web interactivo para una agencia de 
                        marketing digital.
                        </p>
                      <a href="#" class="btn btn-primary">Ver más</a>
                  </div>
              </div>
          </div>
          <!-- Repite la estructura de la tarjeta para otros proyectos -->
      </div>
  </div>
</body>
</html>