<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="mb-4">Servicios</h1>
                <p class="lead"> En InnovateTech Solutions, ofrecemos una amplia gama de servicios 
                    tecnológicos diseñados para satisfacer tus necesidades específicas. Desde el desarrollo 
                    de aplicaciones web y móviles hasta el diseño de interfaces de usuario, estamos 
                    preparados para enfrentar cualquier desafío tecnológico. 
                    </p>
            </div>
        </div>
    </div>
<div class="container d-flex align-items-center justify-content-center vh-100 ">
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Desarrollo de software a medida</button>
        <button type="button" class="list-group-item list-group-item-action">Diseño y desarrollo web</button>
        <button type="button" class="list-group-item list-group-item-action">Desarrollo de aplicaciones moviles</button>
        <button type="button" class="list-group-item list-group-item-action">Consultoria tecnologica</button>
        <button type="button" class="list-group-item list-group-item-action">Integracion de sistemas</button>
        <button type="button" class="list-group-item list-group-item-action">Diseño de interfaces (UI/UX)</button>
        <button type="button" class="list-group-item list-group-item-action">Servicios de analisis de datos</button>
        <button type="button" class="list-group-item list-group-item-action">Seguridad y proteccion de datos</button>
        <a type="button" href="/portafolio" class="btn btn-outline-primary"> Mira nuestro portafolio <i class="bi bi-arrow-right"></i></a>
      </div>
      
    
</body>
</html>

</div>
   
</body>
</html>