<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title>Document</title>
</head>
<body class="bg-dark">
    <%- include('partials/navigation') %>
    <section class="p-5 bg-dark">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center text-light">
                    <h1 class="mb-4 ">Testimonios</h1>
                    <p class="lead"> Nuestros clientes han experimentado los beneficios de trabajar 
                        con InnovateTech Solutions. Aquí tienes algunos testimonios que reflejan la calidad y el 
                        impacto de nuestros servicios</p>
                </div>
            </div>
        </div>
        <div class="container py-5">
           
            <div class="row g-4 d-flex justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="card bg-light hola">
                        <div class="card-body text-center p-5">
                            <img src="https://i.pinimg.com/736x/41/51/4f/41514ffc73ae8eb7eaf3b5fcd1641859.jpg" alt="" class="rounded-circle mb-3 img-redonda">
                            <h3 class="card-title mb-3"> Aliens </h3>
                            <p class="card-text">
                                "La colaboración con InnovateTech Solutions ha sido excepcional. Han superado 
nuestras expectativas en términos de calidad, tiempo de entrega y atención al cliente"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card bg-light hola">
                        <div class="card-body text-center p-5">
                            <img src="https://i.pinimg.com/564x/4e/10/7f/4e107f416df20ebc3cbf839c4ba7ee3b.jpg" alt="" class="rounded-circle mb-3 img-redonda">
                            <h3 class="card-title mb-3">Lisa</h3>
                            <p class="card-text">
                                "El equipo de InnovateTech Solutions comprendió perfectamente nuestras necesidades 
y nos brindó una solución personalizada que ha mejorado nuestra eficiencia operativa de 
manera significativa"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ">
                    <div class="card bg-light hola">
                        <div class="card-body text-center p-5">
                            <img src="https://i.pinimg.com/564x/32/48/f8/3248f8532d30b32b7f8c6e51cc079bf5.jpg" alt="" class="rounded-circle mb-3 img-redonda">
                   <h3 class="card-title mb-3">Homero</h3>
                            <p class="card-text">
                                "Recomendaría a InnovateTech Solutions a cualquier empresa que busque soluciones 
tecnológicas de vanguardia. Su enfoque en la innovación y la calidad es impresionante"
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>